body {
    font-family: Arial, sans-serif;
    background: rgb(196, 220, 245);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color:#2563eb;
  }
  
  .error-box {
    background-color: #fee2e2;
    color: #991b1b;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #374151;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
  }
  
  
input[type="email"]:hover,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #7ab2ff;
  outline: none;
}
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .options a {
    color: #2563eb;
    text-decoration: none;
  }
  
  .options a:hover {
    text-decoration: underline;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #1d4ed8;
  }
  
  .divider {
    text-align: center;
    margin: 20px 0 10px;
    color: #6b7280;
    font-size: 14px;
  }
  
  .btn-secondary {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: #fff;
    color: #374151;
    font-size: 14px;
    text-decoration: none;
  }
  
  .btn-secondary:hover {
    background-color: #2d5bd8;
    color: white;
  }
 