body {
    background: #e8f5e9; /* Light green background */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.form-style input {
    border: 2px solid #ced4da9a; 
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}

.form-style input:focus {
    border-bottom: 2px solid #2e7d32; /* Green focus border */
    box-shadow: none;
    outline: 12px;
    background-color: #ebebebe0;
}


.forgot-password {
    text-decoration: none;
    color: #2e7d32; /* Green link color */
}

.forgot-password:hover {
    text-decoration: underline;
    color: #1b5e20; /* Darker green on hover */
}