{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Online Code Editor</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{% static 'css/code_editor.css' %}">  

</head>
<body>

    <div class="container">
        <div class="header">
            <img src="{% static 'img/code editor.jpg ' %}" alt="Code Editor Image" style="width: 40px; height: 40px; margin-right: 10px;">
            <h1>Online Code Editor</h1>
        </div>
        <a href="{% url 'user_dashboard' %}"> 
            <img src="{% static 'img/home icon.png' %}" alt="Home Icon" style="position: absolute; top: 20px; right: 20px; width: 70px; height: 70px; cursor: pointer;">
        </a>
        
        <div class="editor-container">
            <label for="language">Select Language:</label>
            <div class="custom-select-container">
                <div class="custom-select-btn">
                    <img id="selected-logo" src="" alt="Logo"> 
                    <span id="selected-lang">Select Language</span>
                </div>
        
                <div class="custom-select-options">
                    <div data-lang="c" data-img="{% static 'lang_logo/c-logo.png' %}">
                        <img src="{% static 'lang_logo/c-logo.png' %}" alt="C Logo"> C
                    </div>
                    <div data-lang="java" data-img="{% static 'lang_logo/java-logo.png' %}">
                        <img src="{% static 'lang_logo/java-logo.png' %}" alt="Java Logo"> Java
                    </div>
                    <div data-lang="python3" data-img="{% static 'lang_logo/python-logo.png' %}">
                        <img src="{% static 'lang_logo/python-logo.png' %}" alt="Python Logo"> Python 3
                    </div>
                </div>
            </div>
            <input type="hidden" id="language" value=""> <!-- Add this hidden input field -->
            <textarea id="editor" placeholder="Write your code here..."></textarea>
        </div>
        
        <div class="button-container">
            <button id="run">Run</button>
        </div>
        
        <div class="output-container">
            <h2>Output:</h2>
            <div id="output"></div>
        </div>
    </div>
    <!-- Link to the external JavaScript file -->
<script src="{% static 'js/code_editor.js' %}"></script>  

    
    
</body>
</html>
