{% extends 'accounts/home_base.html' %}
{% load static %}

{% block title %}TestMaster - Home{% endblock %}

{% block content %}
<div class="content">
  <div class="text">
    <h1>Welcome to TestMaster</h1>
    <p>Welcome to our online education platform. Learn at your own pace from anywhere in the world.</p>

    <div class="button-group">
      <a href="{% url 'user_signup' %}" class="btn">Sign Up</a><br>
      <a href="{% url 'user_login' %}" class="btn">Login</a>
      <a href="{% url 'organization-admin-signup' %}" class="btn org">Click Here for Organization</a>
    </div>
  </div>
  <div class="image">
    <img src="{% static 'img/user_dashboard.jpg' %}" alt="online">
  </div>
</div>
{% endblock %}