{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Test</title>
    <link rel="stylesheet" href="{% static 'css/mock_test.css' %}"> 
</head>
<body>

<div class="container">
    <h1>Mock Test</h1>
    <a href="{% url 'user_dashboard' %}"> 
        <img src="{% static 'img/home icon.png' %}" alt="Home Icon" style="position: absolute; top: 20px; right: 20px; width: 70px; height: 70px; cursor: pointer;">
    </a>
    <h2>Select a Subject to give test</h2>
    <div class="subject-list">
        {% for subject in subjects %}
            <div class="subject-box">
                <h3>{{ subject.name }}</h3>
                <p>Total questions - 15</p>
                <p>Total time - 20 minutes</p>
                <a href="{% url 'mock_test_page' subject.name %}">
                    <button type="button">Start Test</button>
                </a>
            </div>
        {% endfor %}
    </div>
    
</div>

<script src="{% static 'js/mock_test.js' %}"></script>  

</body>
</html>
