{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - TestMaster</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap">
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">  
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{% url 'practice_questions' %}">Question Bank</a></li>
            <li><a href="{% url 'mock_test' %}">Mock Test</a></li>
            <li><a href="{% url 'code_editor' %}">Code Editor</a></li>
        </ul>
        <div class="profile">
            <a href="#"><img src="{% static 'img/profile-icon.png' %}" alt="Profile Icon"></a>
            <span class="profile-text">Profile</span>
            <div class="dropdown-content">
                <a href="{% url 'profile' %}">My Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <h1>Welcome to TestMaster, {{ user.first_name }}!</h1>

        <!-- Image below welcome message -->
        <div>
            <img src="{% static 'img/user_dashboard.jpg' %}" alt="Welcome Image" class="welcome-image">
        </div>
        <!-- Button for Organization Test -->
        <a href="#" class="org-test-btn" id="orgTestBtn">User  of any specific organization? Click here to give your test</a>

        <!-- Organization Test Form (initially hidden) -->
        <div class="org-test-form" id="orgTestForm">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="organization_name" placeholder="Enter Organization Name" required>
                <input type="text" name="organization_user_id" placeholder="Enter User ID of organization" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Link to the external JavaScript file -->
    <script src="{% static 'js/user_dashboard.js' %}"></script> 
</body>
</html>