{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/user_login.css' %}">
</head>
<body>
<div class="container">
    <div class="row m-5 no-gutters shadow-lg">
        <!-- Image Section -->
        <div class="col-md-6 d-none d-md-block">
            <img src="{% static 'img/login_image.jpg' %}" class="img-fluid" style="min-height:100%;" alt="Login Image">
        </div>

        <!-- Login Form Section -->
        <div class="col-md-6 bg-white p-5">
            <h2 class="pb-3" style="color: #2e7d32; font-weight:bold; text-align: center;">User Login</h2>
            <div class="form-style">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group pb-3 mb-4">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-group" required id="email" placeholder="Enter your e-mail">
                    </div>
                    <div class="form-group pb-3 mb-4">
                        <label for="password">Password</label>
                        <div class="password-input-container">
                            <input type="password" name="password" class="form-group" required id="password" placeholder="Enter your password">
                            <i class="fas fa-eye-slash toggle-password" id="togglePassword"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="remember" id="remember">
                            <label class="custom-control-label" for="remember">Remember Me</label>
                        </div>
                        <div>
                            <a href="#" class="forgot-password" style="color:rgb(46, 125, 50);">Forgot Password?</a>
                        </div>
                    </div>
                    <button type="submit" style="background-color: #2e7d32;" class="btn btn-success w-100 font-weight-bold mt-2">Login</button>
                </form>
                
                <div class="pt-4 text-center">
                    Don't have an account? <a href="{% url 'user_signup' %}" style="color: #2e7d32;">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/user_login.js' %}"></script>

</body>
</html>
