<h1>Mock Test</h1>
<form method="POST" action="{% url 'submit_mock_test' mock_test.id %}">
    {% csrf_token %}
    {% for question in mock_test.questions.all %}
        <h3>{{ question.question_text }}</h3>
        <ul>
            {% for option in question.options.items %}
                <li>
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ option.key }}">
                        {{ option.value }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
